JAVA_HOME=/usr/java/default
export JAVA_HOME
JRE_HOME=$JAVA_HOME/jre
export JRE_HOME
PATH=$JAVA_HOME/bin:$PATH
export PATH
CATALINA_HOME=/home/tomcat/tomcat
export CATALINA_HOME
CATALINA_BASE=/home/tomcat/tomcat
export CATALINA_BASE
CLASSPATH=$CATALINA_BASE/bin/bootstrap.jar:$CATALINA_BASE/bin/tomcat-juli.jar
export CLASSPATH
